<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Ecomerce</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item active"><a class="nav-link" a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li class="nav-item" ><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
        <li class="nav-item" ><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
  </div>
</nav>
<div><h1></h1></div>
<div class="container">
  <div class="row">
      {% for i in object_list %}
          <div class="col-4">
              <h6>name: {{ i.first_name }}</h6>
              <h6>username: {{ i.username }}</h6>
                <h6>Email: {{ i.email }}</h6>
                <li class="btn btn-info btn-sm"><a style="color: black; text-decoration: none"  href="{% url 'ecomapp:approve_user' i.id %}">Details</a></li>
<!--                <li><a class="btn btn-info btn-sm" href="{% url 'ecomapp:update_order' i.id %}">Update</a></li>-->
       <div>
<!--           <form method="post" action="">-->
<!--               {% csrf_token %}-->
<!--               <button type="submit" name="request" class="btn btn-link">Request List</button>-->
<!--        </form>-->
       </div>
    </div>
        {% endfor %}
  </div>

</div>
</body>
</html>