{% extends 'ecomapp/base.html' %}
{% block body %}

<script type="text/javascript">

    function product_sales(id,pk)   {
        console.log(id)
        console.log(pk)
   $.ajax(
    {
        type:"GET",
        url: `/ecom/product_sales/${id}/${pk}/`,
        success: function( data )
        {
           console.log(data)
             console.log(data.total_product_sell);
             $('#sales-modal-body').append(data.total_product_sell);
<!--           $("#sales-modal-body").empty()-->
<!--           $("#sales-modal-body").append(data)-->
<!--           $('#sales-modal-body').val(id)-->
        }
     }
     )
    }





</script>
<hr style="border-top:1px solid #000; clear:both;"/>
<table id="table" class="table table-bordered">
    <thead class="alert-warning">
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Price</th>
        <th>Description</th>
        <th>Image</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in user_product %}
    <tr>
        <td>{{ item.product_type }}</td>
        <td>{{ item.product_name }}</td>
        <td>{{ item.gender }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.description }}</td>
        <td><img src="{{ item.product_img.url }}" height="200px" width="200px"></td>
        <td>
            <li class="btn btn-info">
                <a type="button" style="color: black; text-decoration: none" data-toggle="modal"
                   data-target="#exampleModalLong"
                   href="#" class="likebutton" id="like{{post.id}}" href="#" data-catid="{{ post.id }}"
                   onclick="product_sales('{{item.id}}','{{id}}')">
                    Sales
                </a>
            </li>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Percentage Sales</h5>
            </div>
            <div class="modal-body" id="sales-modal-body1">
                <h1 id="sales-modal-body"></h1>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}