{% extends 'ecomapp/base.html' %}
{% block body %}

<script type="text/javascript">
     function remove_from_wishlist_function(id){
     document.getElementById(`removeTwishlist_${id}`).remove();
        console.log(id)
        var token = '{{csrf_token}}';
   $.ajax(
    {
        type:"POST",
        url: `/ecom/removefromwishlist/${id}/`,
        headers: { "X-CSRFToken": token },
        success: function( data )
        {
           console.log(data)

        }
     }
     )
    }






</script>

<hr style="border-top:1px solid #000; clear:both;"/>
<table id="table" class="table table-bordered">
    <thead class="alert-warning">
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Size</th>
        <th>Gender</th>
        <th>Image</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}

    <tr id="removeTwishlist_{{item.id}}">
        <td>{{ item.product.product_type }}</td>
        <td>{{ item.product.product_name }}</td>
        <td>{{ item.product.product_size }}</td>
        <td>{{ item.product.gender }}</td>
        <td><img src="{{ item.product.product_img.url }}" height="200px" width="200px"></td>
        <form method="post">
            {% csrf_token %}
        <td><a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong"
               href="#"  onclick="remove_from_wishlist_function('{{item.id}}')">
            Remove from Wishlist
        </a>
        </td>
            </form>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}